.InfoMenu::before{
    content: 'Praktisch';
    position: absolute;
    padding: 0.6rem 1.0rem;
    border-radius: 0.5rem;
    background-color: var(--dark-text);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    top: -1rem;
    left: -0.75rem;
    transform: rotate(-7deg);
    text-align: center;
    z-index: 4;
}

.mainContent::before{
    content: '8+ ';
    
}

.mainContent{
    width: max-content;
    justify-self: center;
}

input[type=text], input[type=number], input[type=email]{
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear .2s, box-shadow linear .2s;
    border-radius: 6px;
    width: 15rem;
    padding: 0.3rem 0;
    text-align: center;
    margin: 0.2rem 0;
}

.submit {
    background: #2da0d4;
    color: #fff;
    width: 10rem;
    height: 50px;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 25px;
    transition: all 600ms;
    margin: 3rem auto;
    box-sizing: border-box;
    margin-top: 0.5rem;
    position: absolute;
    right: 1rem;
}
  
.submit:focus {
    outline: none;
}

.submit:hover {
    cursor: pointer;
}

.formWrap{
    justify-content: center;
    justify-self: center;
    font-size: 1.2rem;
}

.mainContent{
    justify-items: center;
}

form{  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 1em;
    border-radius: 1rem;
    position: relative;
    padding-bottom: 4rem;
    max-width: 800px;
}

#personalInfo{
    display: grid;
}