.InfoMenu::before{
    content: "Praktisch";
    position: absolute;
    padding: 0.6rem 1.0rem;
    border-radius: 0.5rem;
    background-color: var(--dark-text);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    top: -rem;
    left: -0.75rem;
    transform: rotate(-7deg);
    text-align: center;
    z-index: 4;
}

.mainContent::before{
    content: 'Decanaat';
}


h2{
    margin-top: 1rem;
}



.formWrap{
    margin: 0 1rem;
    margin-top: 1rem;

}

h2{
    display: inline-block;
    margin:0.75rem ;
    margin-left: -2rem;
    padding: 0.2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    border-radius: 0 1rem 1rem 0;
    color: var(--light-text);
}

h6{
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;

}

.linkOut{
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    gap: 0.2em;
    text-decoration: none;
    font-weight: 600;
    word-break: break-all;
}

.linkOut:hover{
 color: #09A3E2;
}

.linkOut:hover > img{
 filter: sepia(1) saturate(1000%) hue-rotate(180deg) brightness(2.5);
}

.linkOut > img{
    height: 1rem;
}

#blue{
    background-color: var(--primary-color);
}

#orange{
    background-color: var(--highlight-color);
}

.element{
    border-top: solid rgba(0, 0, 0, 0.123) 2px;
    margin-top: -2.15rem;
    padding: 2rem;
    padding-top: 2.15rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    hyphens:  auto;

   
}