.InfoMenu::before{
    content: "Praktisch";
    position: absolute;
    padding: 0.6rem 1.0rem;
    border-radius: 0.5rem;
    background-color: var(--dark-text);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    top: -1rem;
    left: -0.75rem;
    transform: rotate(-7deg);
    text-align: center;
    z-index: 4;
}

h2{
    margin-top: 1rem;
}

.mainContent a, .mainContent a:visited{
    color: blue;
    text-decoration: underline;
}

iframe{
    margin: 2rem auto;
    aspect-ratio: 16 /9;
}

.mainContent img{
    width: 100%;
    margin: 2rem auto;
}

h1{
    text-align: center;
}

table{
    width: 100%;
    margin: auto auto;
}

.vertrouwenspersonenInfo p{
    margin: 2rem auto;
}