.mainContent::before {
    content: 'Cijfers en examendossier';
    position: absolute;
    padding: 0.4rem 1.0rem 0.6rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--highlight-color);
    font-size: 2rem;
    color: var(--secondary-color);
    top: -1rem;
    left: -1rem;
    transform: rotate(-5deg);
    text-align: center;
    font-weight: 600;
    z-index: 4;
   }





.mainContent:nth-child(2)> div{
    margin-top: 4rem;
}

@media screen and (max-width: 530px) {
    .mainContent::before {
        font-size: 1.2rem;
    }
    
    .mainContent:nth-child(2)> div{
        margin-top: 2rem;
    }

    #DisCText{
        font-size: 0.8rem;
    }
}