.mainContent::before {
    content: 'Mijn profiel';
    position: absolute;
    padding: 0.4rem 1.0rem 0.6rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--highlight-color);
    font-size: 2rem;
    color: var(--secondary-color);
    top: -1rem;
    left: -1rem;
    transform: rotate(-5deg);
    text-align: center;
    font-weight: 600;
    z-index: 4;
}

.mainContent{
    width: 120%;
}


input[type=tel], input[type=e-mail]{
    border: none;
    transition: border linear .2s, box-shadow linear .2s;
    padding:0.5rem;
    text-align: center;
    width: 90%;
    border-right: solid rgba(0, 0, 0, 0.15) 4px;
    border-radius: 0.75rem;
    text-align: center;
    font-weight: 100;
    display: inline-block;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

input[type=checkbox ]{
    border: none;
    transition: border linear .2s, box-shadow linear .2s;
    padding:0.5rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.75rem;
    font-weight: 100;
    display: inline-block;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    position: absolute;
}

.center{
 position: relative;
 margin: 0 auto;
}



.home-container, .kluis-container{
    margin: 1rem 0 1rem 0;
}

h1{
    display: inline-block;
    margin:0.75rem ;
    margin-left: -1rem;
    text-align: center;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 1rem;
    color: var(--light-text);
    background-color: var(--highlight-color);
    position: absolute;
    top: -2.8rem;
    left: 1rem;
}


h2{
    background-color:#509fdf;
    color: white;
    text-align: center;
    width: 90%;
    border-radius: 1rem;
    border-right: solid rgba(0, 0, 0, 0.15) 4px;
    display: inline-block;
    overflow: hidden;
}

h4{
    text-align: center;
    font-weight: 100;
    
}

h3{
    border-right: solid rgba(0, 0, 0, 0.15) 4px;
    border-radius: 0.75rem;
    width: 100%;
    text-align: center;
    font-weight: 100;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

#personal-picture{
    border-radius: 1rem;
    background-image: url('/styling/images/T8T-HKA-9D6-1991057.JPG');
    background-repeat: no-repeat;
    background-attachment:local;  
    background-size: cover;
    width: 100%;
}


.persWrap{
        display: grid;    
        grid-template-columns: 10rem 1fr;
        gap: 1rem;
}



.orderWrap > h3{
    align-items: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.orderWrap{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 0.2em 0.5em;
    justify-content:start ;
    align-items: start;
    justify-content: start;
    justify-items: start;
    position: relative;
    
}

.double{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0.5em;
}



.double > h3{
    width: 95%;
}

.contentWrap{
    margin: 0 1rem;
}

.profileBox{
    border-radius: 10px;
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
     "pers pers"
     "pers pers"
     "pers pers"
     "home kluis"
     "home kluis"
     "con con"
     "con con"
     "ex ex" 
     "ex ex" 
    ;
    gap: 2.5rem;
  
}


.element{
    border-top: solid rgba(0, 0, 0, 0.123) 3px;
    padding:  2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    hyphens:  auto;
    position: relative;
}

.dataWrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}




@media screen and (max-width : 600px) {
    .persWrap{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        gap: 0.5rem;
    }
    
    .profileBox{
        display: flex;
        flex-direction: column;
    }

    h2, h3 {
        font-size: 1rem;
        padding: 0.3rem 0rem ;
        width: 97.5% !important;
    }

    .orderWrap{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 0.2em 0.5em;
        justify-content:start ;
        align-items: start;
        justify-content: start;
        justify-items: start;
        position: relative;
        
    }
    
  

    .double{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    input[type=tel], input[type=e-mail]{
        width: 93.5%; 
    }

    .contact-gegevens{
        padding-bottom: 3rem !important;
    }


    #personal-picture{
        background-size: contain;
        width: 50%;
        aspect-ratio: 1/1.5;
        margin: 0 auto;
    }
    

}

@media screen and (max-width : 400px) {
    h1{
        font-size: 1.5rem;
        width: 90%;
    }
    
    .element{
        padding: 1rem 0.5rem;
        justify-content: center;
    }
}