.mainContent::before {
    content: 'Mijn profiel';
    position: absolute;
    padding: 0.4rem 1.0rem 0.6rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--highlight-color);
    font-size: 2rem;
    color: var(--secondary-color);
    top: -1rem;
    left: -1rem;
    transform: rotate(-5deg);
    text-align: center;
    font-weight: 600;
    z-index: 4;
}

.mainContent{
    width: 120%;
}

.profileBox{
    border: 10px solid var(--dark-text);
    border-radius: 10px;
    margin-top: 2rem;
}

.home-container, .kluis-container{
    border-top: 3px solid var(--dark-text);
    margin: 1rem 0 1rem 0;
}

h1{
    display: inline-block;
    margin:0.75rem ;
    margin-left: -1rem;
    text-align: center;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 1rem;
    color: var(--light-text);
    background-color: var(--primary-light-color);
}


h2{
    background-color: var(--highlight-color);
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
}

h3, h4{
    text-align: center;
    font-weight: 100;
}

#personal-picture{
    margin: 1rem auto 0 auto;
    width: 5rem;
}
