/* Base css file, hier zit de default styling van een pagina/
/* Written by: David Zijlstra, Bart van Beusekom*/

/* Globale Stijlen Die je kan oproepen met behulp van een var*/

:root {
    --primary-color: #0070ba;
    --secondary-color: #ffffff;
    --highlight-color: #f49600;
    --dark-text: #0b334c;
    --light-text: #ffffff;
    --background-color: #f3efeb;
    --primary-light-color: #2fb4e9;
    --main-margin: 10vw;
    --small-font-size: 0.8rem;
    --medium-font-size: 1rem;
    --large-font-size: 1.5rem;
    --small-radius:  0.4vw;
    --medium-radius: 0.6vw;
    --small-gap: 0.5vw;
    --big-gap: 1vw;
    --padding: 0.5vw;
    --bigbig-gap: 1.5vw;
}

* {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;

    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--dark-text);
    
}

#currentpg{
    background-color: #2fb4e9;
}

/*default styling van de pagina*/
body {
    background-color: var(--background-color);
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/*margin wrapper*/
#margin {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
}
/* headerstyling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: var(--padding) 2vw;
    border-radius: var(--medium-radius) var(--medium-radius) 0 0;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    position: relative;
    z-index: 20;
    min-width: 1020px;
    width: 90%;
    margin: 0 auto;

}

.topWrap{  
    min-width: 90%;
    margin: 0 auto;

}


/* gebruikers sectie */

.userContent {
    width: 8vw;
    min-width: 10rem;
    position: relative;
    background-color: #ffffff;
}

.userWrap{
    display: flex;
    justify-content: space-between;
}
.userName {
    font-size: var(--medium-font-size);
    color: var(--dark-text);
    display: flex;
    flex-direction: column;
    align-self: center;
}

.userOptions {
    width: var(--medium-font-size);
    cursor: pointer;
    transition: all ease-in 0.22s;
}

.userOptionsWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.userOptions.active{
    transform: rotate(180deg);
}


.profilePicture {
    width: 1.9vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 50%;
    width: 110%;
    min-width: 2.5rem;
}


.userMenu{
    position: absolute;
    top:90%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--small-radius);
    opacity: -1;
    overflow: hidden;
    transition: all linear 0.2s;
    z-index: 6;
    width: 100%;
    padding: 0.3vw;
    
}


.userMenu a {
    visibility: hidden;
    overflow: hidden;
    flex: 1;
}


.userMenu.active{
    visibility: visible;
    overflow:visible;
    top :110%;
    transition: all ease-in 0.2s;
    opacity: 1;
}   

.userMenu.active a{
    visibility: visible;
    overflow:visible;
    top :110%;
    transition: all ease-in 0.2s;
    opacity: 1;
}



.userMenu > a{
    margin: 0.3vw;
    padding: 0.4vw;
    font-size:var(--medium-font-size);
    border-radius: var(--small-radius);
    background-color: var(--background-color);
}


/*logo sectie in de header*/
.branding {
    display: flex;
    align-items: center;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.logo{
    width:8vw;
    min-width: 10rem;
}


/*logo teskt*/
.branding > p {
    text-align: center;
    font-size: var(--large-font-size);
    color: var(--dark-text);
}



/* hoofdmenu onder de header */
.mainMenu {
    display: flex;
    justify-content: center;
    border-radius: 0px 0px var(--medium-radius) var(--medium-radius) ;
    background-color: var(--primary-color);
    z-index:5;
    min-width: 1020px;
    width: 90%;
    margin: 0 auto;
    padding: 0 2vw;
}   

.Wdrop > img{
  width: 1.25rem;
  height: 1.5rem;
  margin-right: 3%;
  transition: all ease-in-out 0.3s;
  transform: rotate(0deg);
  aspect-ratio: 1 / 1;
}

.Wdrop {
    height: 1.5rem;
}

.menuLink {
    display: flex;
    padding: 0.5vw;
    min-width: 22ch;
    text-align: center;
    color: white;
    border-radius: var(--small-radius);
    justify-content: space-between;
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: var(--medium-font-size);
}

.menuLink:hover , .menuLinkDrop > a:hover {
    background-color: var(--primary-light-color); 
    cursor: pointer;
}

.lastlink{
    justify-content: center;
}

/* Dropdown menu styling */
.dropmenuwrap {
    position: relative;
    width: max-content;
    list-style-type: none;
} /*


*/
.menuLinkDrop {
    display: flex; 
    flex-direction: column;
    position: absolute;
    left: 0;
    visibility: hidden;
    background-color: var(--primary-color);
    border-radius: 0 0 var(--small-radius ) var(--small-radius);
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 100%; 
    transition: all ease-in-out 0.3s;
    z-index: -10 !important;
    transform: translateY(-100%);
    font-size: var(--medium-font-size);
}



.menuLinkDrop > a{
    color: var(--light-text);
    padding: var(--padding);
    border-radius: var(--small-radius);
    display: block;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
}


.burger-menu{
    display: none;
    width: 100vw;
    font-weight: bold;
}

.burger-menu > img{
    width: 2.2rem;
    margin-left: 0.5rem;
}

.burger-menu> p{
    font-size: 1.5rem;
    color: var(--light-text);

}

/* footer */
section {
    background-image: url(decal-banner.svg);
    min-height: 4rem;
    display: flex;
    flex-direction:column-reverse;
    background-size: cover;
    background-position:-100px; 
    position: relative;
    margin-top: auto;
}

#copyright::after {
    content: '©2024 Ichthus College';
    font-weight: bold;
    font-size: 0.75rem;
    color: var(--dark-text);
    border-radius: 5px;
    position: absolute;
    bottom: 1.5vh;
    right: var(--small-gap);

}

/*desktop Mainmenu behavior*/
@media screen and (min-width: 866px) {
    .dropmenuwrap > .menuLinkDrop{
        filter: blur(1px);
    }
    
    .dropmenuwrap:hover > .menuLinkDrop{
    visibility: visible;
    transform: translateY(0%);
    filter: none;

}
.dropmenuwrap:hover > .menuLink > .Wdrop > img{
    transform: rotate(-180deg);
}

}

/*groote schermen*/
@media  screen and (min-width: 2560px) {
    :root{
        --medium-font-size : 2rem;
        --small-font-size :1.5rem ;
        --large-font-size : 3rem;
    }

    .Wdrop > img{
        height: 3.2rem;
        width: 3rem;
    }
    
    .userContent{
        min-width: 200px;
        width: 11vw;
        max-width: 600px;
        align-self: center;
    }

    .profilePicture{
        width: 4rem;
    }

    section{
        min-height: 8rem;
    }

    #copyright::after {
        font-size: var(--small-font-size);
    }
}

@media screen and (max-width: 1100px){
    header{
        min-width: 10px !important;
        border-radius: 0 !important;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 4vw);
    }
    
    .mainMenu {
        display: flex;
        min-width: 10px;
        width: calc(100% - 4vw);
    }
    
    .mainMenu >* {
        font-size: var(--medium-font-size);
    }

    .menuLink{
        border-radius: 0.5vw;
    }

    
    section{
        min-height: 2.5rem;
        background-position:-50px; 

    }

    #copyright::after {
        font-size: var(--small-font-size);
    }


    #copyright::after {
        font-size: 0.5rem;
    }

    :root{
        --medium-radius : 1vw;
        --small-radius  : 0.75vw;
        --medium-font-size : 0.82rem;
    }
}

@media screen and (max-width:400px) {
    .Wdrop{
        padding: 0 2vw !important;
        max-height: 2rem;
    }

}


/*telefoon interface*/
@media screen and (max-width: 865px) {

    .dropmenuwrap.active > .menuLink > .Wdrop > img{
        transform: rotate(-180deg);
    }
    .userContent{
        min-width: 8.5rem;
    }
    .mainMenu.open > li{
        display: block;
        
    }

    .mainMenu > li {
        display: none;
    }

    .burger-menu {
        display: flex; 
        cursor: pointer;
        z-index: 12;
        background-color: var(--primary-color);
    }

    .mainMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menuLink{
        font-size: var(--large-font-size);
        min-width: 90vw !important;
        z-index: 100;
        padding: 0 0 0 7vw;
        border-top: solid 1px rgba(0, 0, 0, 0.158);
        display: flex;
        justify-content: space-between;
    }
    
    .Wdrop{
        padding: 0 7vw;
        max-height: 3rem;
        margin-right: 0px;
        height: 2.5rem;
        width: 1.8rem;
        background-color: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .Wdrop > img{
        max-height: 3rem;
        margin-right: 0px; 
        height: 2.5rem;
        width: 1.8rem;
        background-color: none;
      
    }

    .menuLinkDrop {
        position: relative !important;
        display: none;
        visibility: visible;
        font-size: var(--large-font-size);
        transform: translateY(0%) !important;
        box-shadow: none;
        position: relative;
    }

  
    .menuLinkDrop {
        z-index: 3 !important;
    }

    
    .menuLinkDrop> a{
        border-top: solid 1px rgba(0, 0, 0, 0.158);

    }

    .lastlink{
      justify-content: start !important;
      padding-bottom: 0.2rem;
    }

    .userMenu{
        min-width: 14.5ch;
        padding: 0.5vw;
      
    }

    .userMenu > a {
        font-size: var(--medium-font-size);
        color: var(--dark-text);
        padding-left: 1vw;
    }

    .branding > p {
        font-size: 1.2rem;
        margin-left: -2vw;
    }

    .dropmenuwrap.active > .menuLinkDrop  {
        display: inline-flex !important; 
        pointer-events: none; 
    }

    .menuLinkDrop.enabled {
        pointer-events: all !important;
    }
    header{
        padding-top: 0.5rem;
    }
}

@media screen and (max-width: 520px){
    .userName{
        display: none;
    }

    .userContent{
        min-width: 4.5rem;
       
    }

    .userMenu{
        right: 0;
        padding: 1vw;
    }
    
    header{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px){
    .userMenu{
        left: 0;
    }

    .userName{
        display: block;
    }

    .userContent{
        margin-bottom: 0.5rem;
        min-width: 9rem;
    }

    
}





/*debug
*:hover {
    outline: 2px solid red;
} */