
.wrapper{
    margin: 6vh auto  6vh auto ;
    font-size: 1rem;
    display: grid ;
    gap: 1.5rem;
    width: 85%;
    grid-template-columns:  250px 1fr  250px;
    grid-template-rows: 1fr;
    grid-template-areas: 'sideMenu maincontent .';
}

.wrapper > div{
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.InfoMenu{
    height: max-content;
    position: sticky;
    top: 1.7rem;
    padding: 1rem 1rem 1.3rem 1rem !important;
}

.InfoMenu > ul{
    margin-top: 1rem;
}

.InfoMenu > ul > li {
    list-style-type: none;
    background-color: var(--background-color);
    border-radius: 0.4rem;
    margin-top: 0.3rem;
    transition: all ease-in-out 0.3s;
}

.InfoMenu > ul > li > a {
    display: inline-block;
    width: 90%; 
    height: 100%; 
    padding: 0.8rem; 
}

/* Hover-effect voor de hele li */
.InfoMenu > ul > li:hover {
    background-color: #ebe6e3;
    transform: scale(105%);
}


.InfoMenu > ul > li:hover{
    background-color: #ebe6e3;
    transform: scale(105%);
}

#thispage{
    background-color: #c5c1bf;
    transform: scale(100%);
}
.mainContent{
    position: relative;
    
}



.InfoMenu::before{
    content: "Mijn info";
    position: absolute;
    padding: 0.6rem 1.0rem;
    border-radius: 0.5rem;
    background-color: var(--dark-text);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    top: -1rem;
    left: -0.75rem;
    transform: rotate(-7deg);
    text-align: center;
    z-index: 4;
}

/*
.contentWrap > div{
        margin-top: 1em;
        background-color: gray;
        min-height: 400px;
        width: 100%;
        text-align: center;
        color: #000;
}
*/



@media screen and ( max-width: 865px){
    .InfoMenu{display: none;}
    .wrapper{
        width: 95%;
    }
}

@media screen and ( max-width: 1400px){
    .wrapper{
        width: 90%;
        display: flex;
    }

    .mainContent{
        flex: 1;
    }
}