/* complete herschrijving van de css , zelfde classes enz. maar nu 90% responsive*/
/* Written by: David Zijlstra, Bart van Beusekom*/


/* Wrapper van de pagina */
.wrapper {
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    margin: 4vh 0 4vh 0;
    max-height: 705vh;
    gap: var(--bigbig-gap);
    justify-content: center;
    grid-template-areas: 
    "MainShortcut MainShortcut MainShortcut MainShortcut snelNaar snelNaar" 
    "MainShortcut MainShortcut MainShortcut MainShortcut News News";
}

/*Shortcut Panel */
.shortcutWrapper{
    display: grid;
    grid-template-columns:  minmax(160px, 1fr)  minmax(160px, 1fr)  minmax(160px, 1fr)  minmax(160px, 1fr) ;
    padding: var(--padding);
    gap: 0.75rem;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--medium-radius);
    will-change: transform;
    justify-content: center;
    align-items: center;
}

/* selectie element in de shortcut panel*/
.shortcut {
    justify-content: center;
    background-color: rgb(255, 115, 0);
    border-radius: var(--medium-radius);
    text-align: center;
    min-width: 10vw;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100%;
}

.shortcut:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.shortcut img {
    width: 100%;
    min-width: 100px;
    padding-top: 0.5vh;
}

.shortcut > p {
    padding: 1vw;
    width: 100%;
    min-height: 25px;
    line-height: normal;
    background-color: rgba(83, 83, 83, 0.158);
    border-radius: var(--small-radius);
    font-weight: bold;
    color: var(--light-text);
    align-self: center;
    margin-top: auto;
}



/* aangepaste styles van de shortcuts */
#its{
    background-color: var(--highlight-color);
}

#bully {
    background-color: var(--dark-text);
}


#aura {
    background-color: var(--primary-light-color);
}

#onedrive {
    background-color: var(--highlight-color);
}

#helpdesk{
    background-color: var(--dark-text);
}

#intergrip{
    background-color: var(--primary-light-color);
}

#printen{
    background-color: var(--highlight-color);
}

#tijden{
    background-color: var(--dark-text);
}

#mail{
    background-color: var(--primary-light-color);
}

#mentoraat{
    background-color: var(--highlight-color);
}

#office{
    background-color: var(--dark-text);
}

#zerm{
    background-color: var(--primary-light-color);
}




/* Internal Links */
.snelNaarSection {
    background-color: var(--secondary-color);
    padding: var(--small-gap);
    border-radius: var(--medium-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.snelNaarSection::before{
    content: 'Snel naar';
    display: inline-block;
    padding: var(--padding);
    width: 9.3ch;
    background-color: var(--highlight-color);
    color: var(--light-text);
    font-weight: bold;
    font-size: 1rem;
    border-radius: var(--small-radius);
    position: absolute;
    top: -1.5em;
    left: -1.3em;
    transform: rotate(-15.0deg);
    z-index: 4;
    text-align: center;
}

/*link styling*/
.snellinks{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    display: grid;
    gap: var(--small-gap);
    justify-self: flex-end;
    flex: 1;
}

.snellinks > a:hover{
    transform: scale(102%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.095);
    background-color: #ebe6e3;
    cursor: pointer;
}

.snellinks > a {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 0.5vw;
    border-radius: var(--small-radius);
    color: var(--dark-text);
    font-size: var(--medium-font-size);
    border:  white;
    transition: transform 0.3s ease-in-out ;
    padding-left: 1rem;
}

/* News Section */
.nieuwsSectie {
    background-color: var(--secondary-color);
    padding: var(--padding);
    border-radius: var(--medium-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    position: relative;
}

.nieuwsSectie::before{
    will-change: transform;
    content:'Mededelingen';
    display: inline-block;
    background-color: var(--primary-color);
    padding: var(--padding);
    width: 13ch;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    text-align: center;
    border-radius: var(--medium-radius);
    font-size: 1rem;
    top: -0.5em;
    left: -1.4em;
    transform: rotate(-16.0deg);
    margin: 0;
}

 
.newsLink {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    padding: var(--padding);
    font-weight: bold;
    width: 21ch;
    color: #ffffff;
    position: absolute;
    background-color: var(--highlight-color);
    color: var(--light-text);
    border-radius:var(--small-radius);
    font-size: var(--small-font-size);
    bottom: -0.5rem;
    right: -0.3rem;
}

.newslinkWrapper{
    display: flex;
    flex-direction: row-reverse;
}

.newsLink > img{
    width: 12%;
}

/*nieuws wrapper*/
.newsElements{
 flex: 1;
 display: grid;
 gap: var(--small-gap);
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr;
}

/*nieuws element*/
#news{
    border-radius: var(--small-radius);
    background-color: var(--background-color);
}


@media screen and (max-width: 1610px) { /*  gewenste breedte voor wijziging */
    .newsElements {
        grid-template-columns: 1fr; /* Verandert naar 1 kolom */
    }

    .news1{
        display: none
    }
}

@media screen and (max-width: 1630px)  {
    .wrapper{
        grid-template-areas: 
        "MainShortcut MainShortcut MainShortcut snelNaar snelNaar " 
        "MainShortcut MainShortcut MainShortcut News News"
    }

    .shortcutWrapper{
        grid-template-columns:1fr 1fr 1fr ;
    }
}


@media screen and (max-width: 1330px)  {
    .wrapper{
        grid-template-areas: 
        "MainShortcut MainShortcut MainShortcut MainShortcut  "
        "MainShortcut MainShortcut MainShortcut MainShortcut  "
        "News News snelNaar snelNaar ";
        margin-top: 1em;
    }

    .shortcutWrapper{
        grid-template-columns:1fr 1fr 1fr 1fr ;
    }
    
    .snelNaarSection, .nieuwsSectie{
        margin-top: 1rem;
    }

    .snelNaarSection::before{
        top: -1em;
        left: -1em;
    }

    .nieuwsSectie::before{
        top: -0.7em;
        left: -1em;
    }

    .wrapper > div{
        padding: 1em;
    }
    :root{
        --main-margin:5vw;
    }

    .newsLink{
        font-size: 0.9rem;
        padding: 0.4em;
    }
}

@media screen and (min-width: 4000px){
    *{font-size: 2rem !important;

    }

    .snelNaarSection::before{
        font-size: 1.5rem ;
    }

    .nieuwsSectie::before{
        font-size: 1.5rem;
    }

    .newsLink{
        font-size: 1.5rem !important;
    }
    
    
}

/*
.wrapper{
    grid-template-areas: 
    "MainShortcut MainShortcut MainShortcut MainShortcut " 
    "MainShortcut MainShortcut MainShortcut MainShortcut"
    "snelNaar snelNaar News News ";
}
*/

@media  screen and (max-width:1200px){
    .wrapper{
        gap: 1.25em;
        grid-template-areas: 
        "MainShortcut MainShortcut" 
        "MainShortcut MainShortcut"
        "News snelNaar";
        margin-top: 1.2em;
        max-height: 85rem;

    }

    .shortcutWrapper{
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 0.5rem;
   }


   .shortcut > img {
    width: 60%;
    padding-bottom: 10px;
   }
   .wrapper > div{
    padding: 0.5em;
}
}

@media  screen and (max-width:752px) {
    .wrapper{
        gap: 1.25em;
        grid-template-areas: 
        "snelNaar"
        "snelNaar"
        "MainShortcut" 
        "MainShortcut" 
        "MainShortcut" 
        "MainShortcut"
        "MainShortcut"
        "News"
        "News";
        margin-top: 2em;
        max-height: 220rem;
    }
   

  /*  *{
        font-weight: bold;
    }
*/
    .shortcutWrapper{
        grid-template-columns: 1fr 1fr;

    }

    .shortcut > img{
        width:40%;
        margin-bottom: -0.8em;
    }

    #bully{
        font-size: 0.8rem !important;

    }
    .snelNaarSection::before{
        left: -1em;
        top: -1.4em;
        width: 9ch;
        text-align: center;
        padding: 0.4em;
        font-size: 1rem;

    }

    .snellinks > a{
        padding: 0.5rem 0.75rem  ;
        font-size: 1rem;
        font-weight: 500;
        transition:all ease-in-out 0.3s ;

    }

    .snellinks > a:hover{
        transform: scale(100.5%);
    }

    .nieuwsSectie::before{
        top: -0.2em;
        left: -0.9em;
        padding: 0.4em;
        font-size: 1rem;
    }

    :root{
        --main-margin: 0.6em;
    }

}