.InfoMenu::before{
    content: 'Actuele informatie';
    position: absolute;
    padding: 0.3rem 1.0rem;
    border-radius: 0.5rem;
    background-color: var(--dark-text);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--secondary-color);
    top: -1rem;
    left: -0.75rem;
    transform: rotate(-7deg);
    text-align: center;
    z-index: 4;
}

.mainWrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    position: relative;
    gap: 1em;
    margin-top: 1rem;
    justify-content: center;
    max-width: calc(600px + 3em);
    justify-self: center;
}


.mainContent::before{
    content: "Nieuws overzicht";
    position: absolute;
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    background-color: var(--highlight-color);
    color: var(--light-text);
    border-radius: 0.7rem;
    transform: rotate(-8deg);
    top: -1rem;
    left: -1rem;
    z-index: 1;
    
}

 
.newsLink {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    padding: var(--padding);
    font-weight: bold;
    width: 21ch;
    color: #ffffff;
    position: absolute;
    background-color: var(--highlight-color);
    color: var(--light-text);
    border-radius:var(--small-radius);
    font-size: var(--small-font-size);
    bottom: -0.5rem;
    right: -0.3rem;
}

@media screen and (max-width: 1000px) {
    .mainWrap{
        grid-template-columns: 1fr;
    }
    
    #news{
        width: 100% !important;
    }
}



#news{
    border-radius: var(--small-radius);
    background-color: var(--background-color);
    overflow: hidden;
    position: relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    max-width: 200px;
}   
.news-img{
    width: 100%;
    margin-top: -0.4rem;
}

.newsLinkOut{
    width: 1%;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    opacity: 0;
    transition: all ease-in-out 0.2s;
    z-index: 10;

}

.news-item:hover >.smallwrap > .newsLinkOut{
    width: 11%;
    opacity: 1;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

.news-item:hover{
    box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.2);
}


.news-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 0.5rem;
    height: calc(100% - 1.2rem);
    transition: all ease 0.2s;

}

.news-titel{
    padding: 0.6rem;
    background-color: #09A3E2;
    color: var(--light-text);
    border-radius: 0.5rem 0.75rem  0.75rem 0.5rem ;
    left: -0.25rem;
    max-width: 90%;
    position: relative;
    display: inline-block;
    top: -1.5rem;
}

.news-text{
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -1.35rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
    color: rgba(11, 51, 76, 0.594);
}
.newsfooter{
    background-color:#ebe6e3 ;
    width: 100%;
    height: 1.2rem;
    background-size: cover;
    position: absolute;
    bottom: 0;
}


.newsMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5em;
    margin-top: 1em;
}

.newsMenu > *:hover{
 background-color:rgb(235, 230, 227) ; 
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

   
}

.pijltjes{
    padding: 0.5rem;
    background-color: var(--background-color);
    border-radius: 0.25rem;
    width: min-content;
    display: flex;
}


.terug {
    width: 1.5rem;
    transform: rotate(90deg);
}

.verder{
    width: 1.5rem;
    transform: rotate(270deg);
}

.columNumber{
    padding:0rem  0.8rem;
    color: var(--dark-text);
    font-weight: bold;
    font-size: 1.5625rem;
    display: inline-block;
    background-color: var(--background-color);
    border-radius: 0.25rem;

}

.thisColum{
    position: relative;
}

.streepje{
    position: absolute;
    width: 75%;
    height: 3px;
    background-color: var(--dark-text);
    bottom: 6%;
    left: 12.5%;
    border-radius: 50rem;
}