.InfoMenu::before{
    content: 'Aanvullende bestanden';
    position: absolute;
    padding: 0.6rem 1.0rem;
    border-radius: 0.5rem;
    background-color: var(--dark-text);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    top: -2rem;
    left: -0.75rem;
    transform: rotate(-7deg);
    text-align: center;
    z-index: 4;
}

.mainContent{
    max-width: 100%;
    position: relative;
}

.mainContent::before{
    content: 'Aanvullende bestanden';
    display: inline-block;
    padding: 0.5rem 0.75rem;
    background-color: var(--highlight-color);
    color: var(--light-text);
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.75rem;
    position: absolute;
    top: -1em;
    left: -1em;
    transform: rotate(-7.0deg);
    z-index: 4;
    text-align: center;
}

.file-manager {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0.3em;
}

#back-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
}

button:hover {
    background: #0056b3;
}

#file-list {
    list-style-type: none;
    padding: 0;
}

.secondListStyle {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.secondListStyle a {
    text-decoration: none;
    color: #007bff;
}

.secondListStyle a:hover {
    text-decoration: underline;
}


@media screen and ( max-width: 400px){
    .wrapper{
        width: 100% !important;
        
    }

    .mainContent::before{
        left:-0.3em;
        
    }
}

@media screen and ( max-width: 865px){
    .InfoMenu{display: none;}
    .wrapper{
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "maincontent";
    }
}

@media screen and ( max-width: 1400px){
    .wrapper{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-self: center;
        align-items: center;
        grid-template-areas: "maincontent";
    }

}