/* Base css file, hier zit de default styling van een pagina/
/* Written by: David Zijlstra, Bart van Beusekom*/

/* Globale Stijlen Die je kan oproepen met behulp van een var*/

:root {
    --primary-color: #0070ba;
    --secondary-color: #ffffff;
    --highlight-color: #f49600;
    --dark-text: #0b334c;
    --light-text: #ffffff;
    --background-color: #f3efeb;
    --primary-light-color: #2fb4e9;
    --main-margin: 10vw;
    --small-font-size: 0.8rem;
    --medium-font-size: 1rem;
    --large-font-size: 1.5rem;
    --small-radius:  0.4vw;
    --medium-radius: 0.6vw;
    --small-gap: 0.5vw;
    --big-gap: 1vw;
    --padding: 0.5vw;
    --bigbig-gap: 1.5vw;
    --small-marging : 5vw;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--dark-text);
    
}

/*default styling van de pagina*/
body {
    background-color: var(--background-color);
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/*margin wrapper*/
#margin {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
}
/* headerstyling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: var(--padding) 2vw;
    border-radius: var(--medium-radius) var(--medium-radius) 0 0;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    position: relative;
    z-index: 20;
    min-width: 1020px;
    width: 90%;
    margin: 0 auto;

}

.topWrap{  
    min-width: 90%;
    margin: 0 auto;

}


/* gebruikers sectie */

.userContent {
    width: 8vw;
    min-width: 10rem;
    position: relative;
    background-color: #ffffff;
}

.userWrap{
    display: flex;
    justify-content: space-between;
}
.userName {
    font-size: var(--medium-font-size);
    color: var(--dark-text);
    display: flex;
    flex-direction: column;
    align-self: center;
}

.userOptions {
    width: var(--medium-font-size);
    cursor: pointer;
    transition: all ease-in 0.22s;
}

.userOptionsWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.userOptions.active{
    transform: rotate(180deg);
}


.profilePicture {
    width: 1.9vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 50%;
    width: 110%;
    min-width: 2.5rem;
}


.userMenu{
    position: absolute;
    top:90%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--small-radius);
    opacity: -1;
    overflow: hidden;
    transition: all linear 0.2s;
    z-index: 6;
    width: 100%;
 

}


.userMenu a {
    visibility: hidden;
    overflow: hidden;
    flex: 1;
}


.userMenu.active{
    visibility: visible;
    overflow:visible;
    top :110%;
    transition: all ease-in 0.2s;
    opacity: 1;
}   

.userMenu.active a{
    visibility: visible;
    overflow:visible;
    top :110%;
    transition: all ease-in 0.2s;
    opacity: 1;
}



.userMenu > a{
    margin: 0.3vw;
    padding: 0.4vw;
    font-size:var(--medium-font-size);
    border-radius: var(--small-radius);
    background-color: var(--background-color);
}


/*logo sectie in de header*/
.branding {
    display: flex;
    align-items: center;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.logo{
    width:8vw;
    min-width: 10rem;
}


/*logo teskt*/
.branding > p {
    text-align: center;
    font-size: var(--large-font-size);
    color: var(--dark-text);
}



/* hoofdmenu onder de header */
.mainMenu {
    display: flex;
    justify-content: center;
    border-radius: 0px 0px var(--medium-radius) var(--medium-radius) ;
    background-color: var(--primary-color);
    z-index:5;
    min-width: 1020px;
    width: 90%;
    margin: 0 auto;
    padding: 0 2vw;
}   

.Wdrop{
  width: 1.25rem;
  margin-right: 3%;
  transition: all ease-in-out 0.3s;
  transform: rotate(0deg);
  aspect-ratio: 1 / 1;
}



.menuLink {
    display: flex;
    padding: 0.5vw;
    min-width: 22ch;
    text-align: center;
    color: white;
    border-radius: var(--small-radius);
    justify-content: space-between;
    background-color: var(--primary-color);

}

.menuLink:hover , .menuLinkDrop > a:hover {
    background-color: #74b6e2; 
    cursor: pointer;
}

.lastlink{
    justify-content: center;
}

/* Dropdown menu styling */
.dropmenuwrap {
    position: relative;
    width: max-content;
    list-style-type: none;
}

.dropmenuwrap:hover > .menuLinkDrop{
    visibility: visible;
    transform: translateY(0%);

}
.dropmenuwrap:hover > .menuLink > img{
    transform: rotate(-180deg);
}

.menuLinkDrop {
    display: flex; 
    flex-direction: column;
    position: absolute;
    left: 0;
    visibility: hidden;
    background-color: var(--primary-color);
    border-radius: 0 0 var(--small-radius ) var(--small-radius);
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 100%; 
    transition: all ease-in-out 0.3s;
    z-index: -10 !important;
    transform: translateY(-100%);
}



.menuLinkDrop > a{
    color: var(--light-text);
    padding: var(--padding);
    border-radius: var(--small-radius);
    display: block;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
}




/* footer */
section {
    background-image: url(decal-banner.svg);
    height: 9vh;
    display: flex;
    flex-direction:column-reverse;
    background-size:cover;  
    resize: both;
    background-position: calc(-1vw) bottom; 
    position: relative;
    margin-top: auto;
}

#copyright::after {
    content: '©2024 Ichthus College';
    font-weight: bold;
    font-size: 0.75rem;
    color: var(--dark-text);
    border-radius: 5px;
    position: absolute;
    bottom: 1.5vh;
    right: var(--small-gap);

}

@media screen and (max-width: 1100px){
    header{
        min-width: 10px !important;
        border-radius: 0 !important;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 4vw);
    }
    
    .mainMenu {
        display: flex;
        min-width: 10px;
        width: calc(100% - 4vw);
    }
    
    .mainMenu >* {
        font-size: var(--small-font-size);
    }

    .menuLink{
        border-radius: 0.5vw;
    }

    body{
        background-color: red;
    }

    :root{
        --medium-radius : 1vw;
        --small-radius  : 0.75vw;
    }
}

@media screen and (max-width: 865px){
    .mainMenu{
        flex-direction: row;
        flex-wrap: wrap;
        
    }


    
}



/*debug
*:hover {
    outline: 2px solid red;
} */