header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    color: #0b334c;
    font-size: large;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-right: 10vw;
}

.branding > *{
    float: inline-start;
}

.branding > p{
    text-align: center;
    padding-top: 25px;
}/* Mijn hoofd werd autistisch van die div voor ALLEEN de p. dusss heb gewoon ff .brand > p gebruikt == minder moeite */



.mainMenu {
    display: flex;
    justify-content: center;
    background-color: #0070ba;
    color: white;
    padding:  0;
    border-radius: 0 0 10px 10px; 
    gap: 2px;
    user-select: none;
    font-size: 1.5vw;
    
    /* heb vw gebruikt voor foon compatibility , maar wil waarschijnlijk maken dat ze vertical gaan op een lagere view-width */
}

#margin{
    margin-left: 10vw;
    margin-right: 10vw;
}

.wrapper{
    margin-top: 7px; /*subject to change */
   
} 


.mainMenu > a{
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0);
    padding: 10px 20px;
    border-radius:5px 5px 5px 5px;
    transition: all ease-in-out 0.2s;
    margin-top: 2px;
    margin-bottom:2px;
    gap: 10px;
    
}
   
.menuLink:hover{
    background-color: #74b6e2;
    color: #ffff;

}

*{
    font-family:  Helvetica , Arial, sans-serif;
    margin: 0;
    text-decoration: none;
    
}

a{
    color: #0b334c;
}

.userName{
  margin: auto;
  user-select: none;
}

.userOptions{
    width:18px;
    margin-top: 10.5px;
}

.userContent{
    display: flex;
    margin-right: 1.5vw;
    gap: 10px;
    justify-content: center;
    text-align: center;
    
}




