/* complete herschrijving van de css , zelfde classes enz. maar nu 90% responsive*/
/* Written by: David Zijlstra, Bart Beusekom*/

/* Globale Stijlen Die je kan oproepen met behulp van een var*/
:root {
    --primary-color: #0070ba;
    --secondary-color: #ffffff;
    --highlight-color: #f49600;
    --dark-text: #0b334c;
    --light-text: #ffffff;
    --main-margin: 10vw;
    --small-font-size: 0.9rem;
    --medium-font-size: 1.2rem;
    --large-font-size: 1.2rem;
    --background-color: #f3efeb;
    --primary-light-color: #2fb4e9;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--dark-text);
    
}

/*default styling van de pagina*/
body {
    background-color: var(--background-color);
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*marging wrapper*/
#margin {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
}
/* headerstyling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

/*logo sectie in de header*/
.branding {
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

/*logo teskt*/
.branding > p {
    text-align: center;
    font-size: var(--large-font-size);
    color: var(--dark-text);
}

/* gebruikers sectie */
.userContent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userName {
    font-size: var(--medium-font-size);
    color: var(--dark-text);
}

.userOptions {
    width: 18px;
    margin-top: 5px;
}

/* hoofdmenu onder de header */
.mainMenu {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    gap: 10px;
    font-size: var(--medium-font-size);
    border-radius: 0px 0px 10px 10px ;
}

.mainMenu > a {
    color: var(--light-text);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.mainMenu > a:hover {
    background-color: #74b6e2; /*subject to change*/
}

/* Wrapper van de pagina */
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 2.65vh;
    justify-content: center;
    flex: 1;
}

/*Shortcut Panel */
.shortcutWrapper{
    grid-area: 1 / 1 / 3 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
    gap: 15px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    will-change: transform;
    gap: 15px;
    justify-content: center;
    align-items: center;
}



/* selectie element in de shortcut panel*/
.shortcut {
    justify-content: center;
    background-color: rgb(255, 115, 0);
    border-radius: 10px;
    text-align: center;
    min-width: 10vw;
    transition: transform 0.2s ease-in-out;
    aspect-ratio: 1/1;
}

.shortcut:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.shortcut img {
    width: 100%;
    padding-top: 5px;
}

.shortcut > p {
    padding: 10px;
    background-color: rgba(83, 83, 83, 0.158);
    border-radius: 7px;
    font-weight: bold;
    color: var(--light-text);
    font-size: 0.9rem;
}

/* aangepaste styles van de shortcuts */
#bully {
    background-color: var(--primary-light-color);
}

#bully >p{
    margin: 0;
    overflow: hidden;
}
#Aura {
    background-color: #97057c;
}

#onedrive {
    background-color: #0174cd;
}

/* Internal Links */
.snelNaarSection {
    grid-area: 1 / 5 / 2 / 7;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 22rem;
}

.snelNaarSection::before{
    content: 'Snel naar';
    display: inline-block;
    padding: 10px;
    background-color: var(--highlight-color);
    color: var(--light-text);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    position: relative;
    top: -30px;
    left: -40px;
    transform: rotate(-20deg);
}

/*link styling*/
.snellinks{
    margin-top: -30px;
}

.snellinks > a:hover{
    transform: scale(104%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.095);
    background-color: #ebe6e3;
}

.snellinks > a {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--dark-text);
    font-size: 1.2rem;
    margin-top: 10px;
    gap: 10px;
    border:  white;
    transition: all 0.3s ease-in-out ;
}

/* News Section */
.nieuwsSectie {
    grid-area: 2 / 5 / 3 / 7;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    max-height: 22rem;

}

.nieuwsSectie::before{
    content:'Mededelingen';
    display: inline-block;
    background-color: var(--primary-color);
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    border-radius: 10px;
    font-size: var(--medium-font-size);
    top: -10px;
    left: -50px;
    transform: rotate(-20deg);
    margin: 0;
}

 
.nieuwsSectie::after {
    content: "Meer mededelingen";
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    background-color: var(--highlight-color);
    color: var(--light-text);
    border-radius: 5px;
    font-size: var(--small-font-size);
    font-size: 1.2rem;
    float: right;
    bottom: -100%;
    right: -1%;
}


.newsLink > img{
    width: 12%;
}

/*nieuws wrapper*/
.newsElements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: -50px;
    margin-bottom: -45px;
    overflow: hidden; 
}

/*nieuws element*/
#news{
    min-width: 250px;
    border-radius: 5px;
    background-color: var(--background-color);
}


/* Footer */
section {
    background-image: url(decal-banner.svg);
    background-size:auto;
    background-repeat:repeat;
    background-position: right ;
    height: 120px;
    margin-top: 20px;
    margin-top: auto;
    
}

#copyright:after {
    content: '©2024 Ichthus College';
    font-weight: bold;
    font-size: 1rem;
    color: var(--dark-text);
    text-align: right;
    float: right;
    position: relative;
    top: 80px;
    right: 7px;
    padding: 5px;
    border-radius: 5px;
}

/* Responsive Layout Help werkt half */

/*
@media (max-width: 1420px) {
   
    .shortcutPannel {
        grid-template-columns: repeat(3, 1fr);
        justify-self: center;
    }
    
    .shortcut{
        max-height: 10rem;
    }
    .wrapper{
        grid-template-columns: 1fr 1fr 0.5fr 0px 1fr 1fr;
    }

    .shortcut > p{
        font-size: small;
    }
    
}
@media (orientation: portrait) and (min-width:800px)  {
    #margin {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .shortcutPannel {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        margin-top: 0 !important;
    }


    .shortcut{
        aspect-ratio:auto !important;
        min-height: max-content !important;   
        max-height: calc(10vw);     
    }

    .shortcut > img{
        width: 100% !important;
        
        display: block !important;
    }

    .shortcut > p{
        font-size: 0.8rem;
        display: block !important;
    }

    .mainMenu > {
        font-size: large;
    }
}

@media (max-width: 1155px) {
    #margin {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .shortcutWrapper{
        grid-area: 1/1/1/4;
  
    }
    .shortcutPannel {
        grid-template-columns: repeat(4, 1fr);
     
    }

    
    .shortcut{
        aspect-ratio: 1.5/1;
    }
    .shortcut > img{
        width: 70%;
        margin-bottom: -0.5rem;
    }

    .shortcut > p{
        font-size: 0.8rem;

    }


    .mainMenu > a{
        padding: 0.7rem;
    }

    .shortcut{
        width: 1fr !important;
        
    }

    .mainMenu {
        flex-direction: row;
        align-items: center;
        
    }

    .mainMenu > a {
        width: 100%;
        text-align: center;
        font-size: var(--small-font-size);
    }

    .linkIntern {
        grid-area:2/1/2/1 ;
    }

    .latestNews {
        grid-area: 2/4/3/2 ;
    }
    
    #news{
        height: 20rem;
    }
}

@media (max-width: 800px) {
    
    .shortcutPannel {
        grid-template-columns: repeat(3, 1fr);
     
    }
    
}

@media (max-width: 600px) {
    body {
        font-size: 0.8rem;
    }

    .shortcutPannel {
        grid-template-columns: 1fr 1fr;
    }

    .mainMenu > a {
        font-size: var(--medium-font-size);
        padding: 11.2px 0px 11.2px 0px ;
    }

    .mainMenu{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    
    .linkIntern{
        grid-area: 2/1/3/4;
    }

    .latestNews{
        grid-area: 3/1/3/4;
    }
    
    .userName {
        font-size: 1rem;

    }

}

@media (max-width: 480px) {
    body {
        font-size: 0.8rem;
        
    }
    #margin {
        margin-left: 0vw;
        margin-right: 0vw;
    }

    header{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        
    }

    .shortcutWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .shortcutPannel {
        grid-template-columns: 1fr;
        padding: 0.5rem;
        padding-top: 0.5rem;
        width: 97%;
    }

    .wrapper{
        margin-top: 0.5rem;
    }
    .shortcut{
        aspect-ratio:3 /1;
    }

    .shortcut > img {
        width: 40%;
    }

    .shortcut > p{
        font-size: var(--medium-font-size);
    }
    .mainMenu > a {
        font-size: var(--medium-font-size);
    }


    .branding > p{
        font-size: 1rem;
        padding-left: 0.1rem;
    }
    .branding > img{
        width: 80%;
        margin-right: -15px;
    }

    .branding{
        width: 800px !important;
        gap: 0.1rem;
    }


}



*/

@media screen and (max-width: 1610px) { /*  gewenste breedte voor wijziging */
    .newsElements {
        grid-template-columns: 1fr; /* Verandert naar 1 kolom */
    }

    .news1{
        display: none
    }
}
/*debug*/
*:hover {
    outline: 2px solid red;
}