:root{
    --medium-image-width: 2rem;
    --main-font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
    --default-margin: 0.5rem;
    --large-font-size: 3rem;
    --medium-font-size: 2em;
    --small-font-size: 1rem;
    --dark-text: #0b334c;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 1vw 2vw;
}

.branding{
    border: 1px dotted green;
}

.leftHeader{
    display: flex;
    flex-direction: row;
    align-self: center;
    order: 1;
}

.leftHeader img{
    width: 100%;
    padding: 1rem;
}

.leftHeader p{
    font-family: var(--main-font-family);
    font-size: var(--medium-font-size);
}

.rightHeader{
    display: flex;
    flex-direction: row;
    align-self: center;
    order: 2;
}

.rightHeader .userOptions{
    width: var(--medium-image-width);
    margin: var(--default-margin);
    align-self: center;
}

.rightHeader .profilePicture{
    width: 3rem;
    border-radius: 50%;
    align-self: center;
    margin: var(--default-margin);
}

.rightHeader .userName{
    margin: var(--default-margin);
    align-self: center;
    font-family: var(--main-font-family);
    color: var(--dark-text);
    font-size: var(--medium-font-size);
}

