.wrapper{
    background-color: white;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    border-radius: var(--medium-radius);
    display: grid;
    grid-template-columns: calc(150px + 2vw) 1fr;
}

.profMenu{
    background-color: var(--highlight-color) ;
    border-radius: var(--medium-radius);
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    max-width: calc(150px + 2vw);
 
    
}

.profMenu >a{
    padding: var(--padding);
    font-size: var(--medium-font-size);
    border-radius: var(--small-radius);
    color: var(--light-text);
    transition: background-color ease-in-out 0.25s;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    display: inline-block;
    background-color: var(--dark-text);
}

.profMenu:first-child{
    margin-top: 1vw;
}

.profMenu > a:hover{
    background-color: #f3c170;
}


.wrapperContent{
    grid-area: 1/2/2/2;
    display: flex;
    flex-direction: column;
    margin: 1vw;
    gap: 1vw;
}

.wrapperContent > p{
    font-size: var(--large-font-size);
    font-weight: bold;
}

.profIframe, .examenOpdracht , .gegevensIframe{
 background-color: blue;
 height: 15vw;
 border-radius: var(--small-radius);
}

.huiswerkIframe{
    height: 20vw;
    background-color: gray;
}

